
# Data files
data/
!data/resized_256/
!data/robot_resized_256/
*.csv
*.json
*.npy
*.npz
*.h5
*.pkl

# Model weights & results
results/
*.pt
*.pth
*.ckpt
*.weights

# Colab / Jupyter
.ipynb_checkpoints/
*.pyc
__pycache__/
